header {
    background-color: white;
    border-bottom: 2px solid #ccc;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
header img:hover {
    transform: scale(1.05);
}
header img {
    height: 200px;
    width: auto;
}
nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 243, 243);
}
nav a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}
nav a:hover {
    color: rgb(55, 125, 246);
}
nav a:active {
    color: rgb(149, 207, 251);
}
.hero {
    margin-right: -20px;
    margin-left: -20px;
    text-align: left;
    padding:20px;
    background-image:linear-gradient(to right, rgb(55, 126, 247), rgb(149 207 251));
    border: 2px black;
    height:500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.hero h1 {
    font-size: 300%;
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    margin-left: 0;
}
.hero h3 {
    font-size: 200%;
    margin-top: 10px;
    padding: 0;
    margin-left: 0;
    text-align: left;
}
main {
    margin-left: 20px;
    margin-right: 20px;
}
.herotext {
width: 50%;
margin-left: 5%;
text-align: left;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0;
}
.hero img {
    margin-right: 5%;
    max-height: 500px;
    max-width: 500px;
}
h1 {
    font-weight: lighter;
    text-align: left;
    margin-top: 6%;
    margin-left: 4%;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 6%;
    margin-left: 1%;
    margin-right: 1%;
    flex-wrap: wrap;
    align-items: center;
}
.content img {
    border: 1px;
    border-radius: 10px;
    max-height: 260px;
    max-width: 260px;
    min-width: 260px;
    min-height: 260px;
    object-fit: contain;
    background-color: #f0f7ff;
    box-shadow: black 2px 2px 6px;
    transition: transform 0.3s ease;
}
.content img:hover {
    box-shadow: 0 0 5px 5px rgba(159, 215, 255, 0.6);
    transform: translatey(-4px);   
}
.content img:active {
    transform: translatey(0px);
    box-shadow: none;
}
figcaption {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}
table {
    font-size: 120%;
    width: 50%;
    border: black 2px solid;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 6%;
    background-color: #f0f7ff;
}
th, td {
    border: black 2px solid;
    padding: 10px;
}
th {
        background-color: #83affc;
}
tr:hover {
    background-color: #d4e6ff;
}
footer {
    background-color: #ffffff;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}
footer a {
    color: #565656;
}
h3 {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 24px;
}
h4 {
    text-align: left;
    margin-top: -5px;
    margin-left: 4%; 
}
h5 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    max-width: 700px;
}
p {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 18px;
}
footer a:hover {
    color: black;
}
.footer-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
}
.footer-content img {
    width: 50px;
    height: 50px;
}
.featuredcontent {
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 6%;
    margin-left: 1%;
    margin-right: 1%;
    flex-wrap: wrap;
    align-items: center;
}
.featuredcontent img {
    border: 1px solid rgb(169, 206, 248);
    border-radius: 10px;
    max-height: 260px;
    max-width: 260px;
    min-width: 260px;
    min-height: 260px;
    object-fit: contain;
    background-color: #f0f7ff;
}
#BUYNOW {
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: -50px;
}
#BUYNOW h1 {
    border : 1px;
    border-radius: 10px;
    background-color: #377df6;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 500px;
    height: 100px;
}
#BUYNOW a {
    text-decoration: none;
}

#BUYNOW h1:hover {
    background-color: #316edd;
    cursor: pointer;
    animation-name: looky;
    animation-duration: 0.2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
form {
    margin-left: 30%;
    margin-top: 20px;
    padding-bottom: 100px;
    padding: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#firstname, #lastname, #email{
    width: 300px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#quantity {
    width: 50px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
#stickerdescription, #meetinginfo {
    width: 50%;
    height: 100px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#submit {
    width: 150px;
    height: 40px;
    font-size: 18px;
    background-color: #377df6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
}
#submit:hover {
    background-color: #316edd;
}
#submit:active {
    transform: translatey(2px);
}
label {
    font-size: 18px;
    margin-bottom: 10px;
}
#stickerimage {
    width: 300px;
    font-size: 16px;
    padding: 5px;
}
#firstname:hover, #lastname:hover, #email:hover, #quantity:hover, #stickerdescription:hover, #meetinginfo:hover, #stickerimage:hover {
    border: 3px solid #377df6;
}

@keyframes looky {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(5deg);}
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg);}
}

@media (max-width: 768px) {
    header {
        height: auto;
        flex-direction: column;
        padding: 10px 20px;
        margin-top: -50px;
    }

    nav {
        width: 100%;
        margin-top: -50px;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 0;
    }
    nav ul li {
        width: 100%;
    }
    nav a {
        margin: 0 auto;
        display: block;
        padding: 10px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        transition: background-color 0.2s;
    }
    nav a:hover {
        background-color: #e0e0e0;
    }
    
    .hero {
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .herotext {
        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: center;
        font-size: 80%;
    }
    .hero img {
        display: none;
        margin-top: 0;
        margin-bottom: 0;
    }
    h1 {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        text-align: center;
    }
    h3 {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    .hero h3 {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    p {
        margin-left: 10%;
        margin-right: 10%;
    }
    table {
        width: 90%;
    }
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    figure {
        justify-content: flex-start;
        margin: 20px;

    }
    #BUYNOW {
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #BUYNOW h1 {
        width: 100%;
        display: flex;
    }
    h4 {
        text-align: center;
        margin-left: 0;
        margin-bottom: 50px;
    }
    form {
        margin-left: 0;
        margin-top: 20px;
        padding-bottom: 100px;
        padding: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}